/*PROPRIETA' HEADER CON LOGO*/
/***************************************/
header{
    width: auto;
    background:cornflowerblue;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    padding-top: 50px;
    padding-left: 10px;
}


#logo{
    height: 70px;
}

/***************************************/

h1{
    font-size: 45px;
    margin-bottom: 0px;
}

div{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

#author{
    font-weight: bold;
}

#date{
    font-size: 15px;
}

.tim_img{
    padding-top: 50px;
    width:900px;
    height:500px;
}

figure{
    margin: 0px;
}

p{
    font-size:20px;
}

.highlighted{
    background-color:yellow;
}

figcaption{
    font-size:15px;
}

article{
    font-size: 20px;
}

ul{
    padding-left: 20px;
}

/*PROPRIETA' TABELLA*/
/***************************************/
table{
    width: 100%;
    text-align: left;
    border-spacing: 0px;
}

th{
    width: 33%;
}

thead{
    background-color:#2596be;
    color: white;
}

.table_highlight{
    background-color: skyblue;
}
/***************************************/



/*PROPRIETA' "POTREBBERO INTERESSARTI"*/
/***************************************/
.related_articles{
    width:400px;
    height: 300px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

.articolo1{
    background-image: url(../img/monitor.jpg);
}

.articolo2{
    background-image: url(../img/graph.jpg);
}

/***************************************/